.post-derails {
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    min-height: calc(100vh-130px);
}

.post-derails-image-weapper {
    height: 400px;
    margin-bottom: 30px;
}

.post-derails-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.update-post-label {
    font-size: 14px;
    font-weight: bold;
    color: var(--blue-color);
    cursor: pointer;
}

.image-icon {
    font-size: 21px;
    margin-right: 3px;
}

.update-post-image-form button {
    margin-left: 10px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    padding: 2px 5px;
}

.post-derails-title {
    text-align: center;
    font-size: 40px;
    color: var(--primary-color);
    text-transform: capitalize;
    margin: 10px 0px;
}

.post-derails-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.post-derails-user-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.post-details-user {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.post-details-user strong {
    font-size: 21px;
    color: var(--dark-color);
}

.post-details-user span {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray-color);
}

.post-derails-description {
    font-size: 21px;
    line-height: 1.8;
    color: var(--primary-color);
}

.post-derails-icon {
    margin: 15px 0;
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue-color);

}

.post-derails-icon-like {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .post-derails {
        width: 100%;
    }

    .post-derails-image-weapper {
        width: 100%;
    }

    .post-derails-image-weapper {
        height: 100%;
    }


}

@media screen and (max-width:420px) {
    .post-derails-description {
        font-size: 18px;
        line-height: 1.6;
    }

    .post-derails-title {
        font-size: 30px;
    }
}