section {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.category-title {
    margin-left: 30px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    color: var(--dark-color);
    width: max-content;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--dark-color);
    cursor: pointer;
    margin-top: 20px;
}

.posts-center {
    width: 80%;
    margin: auto;
}

@media screen and (max-width:768px) {

    .posts-center {
        width: 90%;
    }

    .category-title {
        margin: 20px auto;
    }
}


@media screen and (max-width:450px) {

    .posts-center {
        width: 100%;
    }

    .category-title {
        margin-left: 10px;
        font-size: 25px;
    }
}


/* not found */
.not-found {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.not-found h1 {
    font-size: 50px;
    font-weight: bold;
    color: black
}

.not-found h1 span {
    color: red;
}

.linl {
    display: block;
    color: var(--white-color);
    background-color: var(--secondary-color);
    font-size: 21px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.linl:hover {
    background-color: var(--primary-color);
}