section {
    min-height: calc(100vh - 130px);
    margin: auto;
}

.post-page {
    display: flex;
    align-items: flex-start;
    padding: 30px;

}

@media screen and (max-width:768px) {

    .post-page {
        flex-direction: column;
    }

}

@media screen and (max-width:400px) {

    .post-item-title {
        font-size: 16px;
    }

    .post-page {
        padding: 0;
    }

}