.form-container {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.form-title {
    font-size: 30px;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.form {
    width: 500px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-label {
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
    color: var(--secondary-color);
}

.form-input {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 21px;
    border: 1px solid var(--gray-color);
}

.form-btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #435668;
    border: none;
    font-size: 21px;
    font-weight: 500;
    color: var(--white-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 0.4s;
}

.form-btn:hover {
    background-color: var(--primary-color);
}

.form-footer {
    margin: 10px 0;
    font-size: 17px;
    color: var(--dark-color);
}

.verfy-not-found {
    font-size: 60px;
    font-weight: bold;
    color: red;
}

@media screen and (max-width: 520px) {
    .form {
        width: 100%;
    }
}